{{#if questionBoard.pins}}
  <div class="col-sm-6">
    <h3 class="text-center">Add a new question here!</h3>
    <form>
      <div class="form-group">
        <label for="title">Enter your question:</label>
        {{input class="form-control" value=title id="title"}}
      </div>
      <div class="form-group">
        <label for="details">Add any relevant details to your question:</label>
        {{input class="form-control" value=details id="details"}}
      </div>
      <div class="form-group">
        <label for="author">Enter your name:</label>
        {{input class="form-control" value=author id="author"}}
      </div>
      <button class="btn btn-success" {{action 'saveQuestion'}}>Submit Question</button>
    </form>
  </div>
{{else}}
  <h3 class="text-center">Add a new question!</h3>
  <form>
    <div class="form-group">
      <label for="title">Enter your question:</label>
      {{input class="form-control" value=title id="title"}}
    </div>
    <div class="form-group">
      <label for="details">Add any relevant details to your question:</label>
      {{input class="form-control" value=details id="details"}}
    </div>
    <div class="form-group">
      <label for="author">Enter your name:</label>
      {{input class="form-control" value=author id="author"}}
    </div>
    <button class="btn btn-success" {{action 'saveQuestion'}}>Submit Question</button>
  </form>
{{/if}}
